a{
    color:#fff
}
a:hover{
    text-decoration:underline
}
a:active{
    color:#fff
}
.topoAplicacao{
    background-color:#507c3f;
    background:url(../images/bg_topo.png),-moz-linear-gradient(left,#173010 0,#507c3f 45%);
    background:url(../images/bg_topo.png),-webkit-gradient(linear,left top,right top,color-stop(0,#173010),color-stop(45%,#507c3f));
    background:url(../images/bg_topo.png),-webkit-linear-gradient(left,#173010 0,#507c3f 45%);
    background:url(../images/bg_topo.png),-o-linear-gradient(left,#173010 0,#507c3f 45%);
    background:url(../images/bg_topo.png),-ms-linear-gradient(left,#173010 0,#507c3f 45%);
    background:url(../images/bg_topo.png),linear-gradient(to right,#173010 0,#507c3f 45%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#173010', endColorstr='#507c3f', GradientType=1 )
}

.topoAplicacao{
    min-height:50px ;
}
@media(min-width: 768px) {
	.nomeAplicacao,
	.identAplicacao {
		padding-top: 60px;
		padding-left: 0;
		display: block;
		margin-left: 30px;
		font-size: 2em;
		background: none;
		width: auto;
	}
}
#cabecalho a {
    text-decoration: none;
}

@media(min-width: 768px) {
	#cabecalho .topoAplicacao {
		min-height: 135px;
	}
}

.nomeAplicacao .projeto{
    top:-35px;
    transition:top .2s ease-in
}
.identAplicacao,.nomeAplicacao{
    float:left;
    font-size:1.4em;
    padding-top:10px;
    margin:0;
    display:inline-block;
    padding-left:50px;
    background:url(../images/logo_camara_peq.png) no-repeat 10px center;
    overflow:hidden;
    width:65%
}

@media(min-width:768px){
    .topoAplicacao{
        background:url(../images/bg_topo.png) no-repeat right -15px,url(../images/logo-camara-transp.png) 30px 12px no-repeat,-webkit-gradient(linear,left top,right top,color-stop(0,#173010),color-stop(45%,#507c3f));
        background:url(../images/bg_topo.png) no-repeat right -15px,url(../images/logo-camara-transp.png) 30px 12px no-repeat,-webkit-linear-gradient(left,#173010 0,#507c3f 45%);
        background:url(../images/bg_topo.png) no-repeat right -15px,url(../images/logo-camara-transp.png) 30px 12px no-repeat,-o-linear-gradient(left,#173010 0,#507c3f 45%);
        background:url(../images/bg_topo.png) no-repeat right -15px,url(../images/logo-camara-transp.png) 30px 12px no-repeat,-ms-linear-gradient(left,#173010 0,#507c3f 45%);
        background:url(../images/bg_topo.png) no-repeat right -15px,url(../images/logo-camara-transp.png) 30px 12px no-repeat,linear-gradient(to right,#173010 0,#507c3f 45%)
    }
}
.identAplicacao .sigla+.nome,.nomeAplicacao .projeto+.area{
    border-color:#d6dc48
}
.topoAplicacao .navbar-toggle.linkInfo .glyphicon,.topoAplicacao .navbar-toggle.menuPrimario .glyphicon{
    color:#fff
}
#pic-menu-global .navbar-default{
    background:#33591e;
    text-transform:none
}
.navbar-default .navbar-toggle{
    border-color:#797e77
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
    background-color:#1b4106
}
.topoAplicacao .navbar-toggle.menuPrimario.active,.topoAplicacao .navbar-toggle.menuPrimario:focus,.topoAplicacao .navbar-toggle.menuPrimario:hover{
    background-color:#426a34
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:#fff
}
.navbar-default .navbar-toggle:focus .icon-bar,.navbar-default .navbar-toggle:hover .icon-bar{
    background-color:#fff
}
#pic-menu-global #menubar{
    border-color:#33591e
}
#pic-menu-global .navbar .navbar-nav>li>a{
    color:#fff
}
#pic-menu-global .navbar .navbar-nav>li>a:focus,#pic-menu-global .navbar .navbar-nav>li>a:hover,.navbar-default .navbar-nav>.open>a{
    color:#fff;
    background-color:#26451b;
    background:#26451b;
    border-top:2px solid #fff
}
#pic-menu-global .navbar .navbar-nav .dropdown-menu li{
    border-bottom:1px solid #1c3f0f;
    background:#26451b
}
#pic-menu-global .navbar .navbar-nav .dropdown-menu li a{
    color:#fff
}
#pic-menu-global .navbar .navbar-nav .dropdown-menu li a:focus,#pic-menu-global .navbar .navbar-nav .dropdown-menu li a:hover{
    background-color:#3c5832
}
#pic-menu-global .navbar .navbar-nav .dropdown-menu li a:active{
    background-color:#6c8463
}
#pic-menu-global .navbar-nav>li.active>a{
    color:#fff;
    background-color:#346921;
    background:#346921;
    border-top:2px solid #fff
}
#pic-menu-global .navbar .navbar-nav .dropdown-menu li.active a{
    background-color:#56764a
}
#pic-menu-global .navbar .navbar-nav .dropdown-menu li.active a:focus,#pic-menu-global .navbar .navbar-nav .dropdown-menu li.active a:hover{
    background-color:#3c5832
}
#pic-menu-global .navbar .navbar-nav>li>a{
    background-color:#33591e
}
#pic-menu-global li.dropdown{
    border-bottom:1px solid #274418
}
@media (min-width:768px){
    #pic-menu-global .navbar .navbar-nav>li>a{
        background-color:rbga(0,0,0,0)
    }
    #pic-menu-global .navbar .navbar-nav>li.open>a{
        background-color:#26451b
    }
    #pic-menu-global li.dropdown{
        border-bottom:none
    }
}
.topoAplicacao .suporteGlobal .funcoesGlobais>li{
    background-color:#33591e
}
.topoAplicacao .suporteGlobal .funcoesGlobais>li>a:hover{
    background-color:rgba(51,89,30,.7)
}
.topoAplicacao .suporteGlobal .funcoesGlobais .glyphicon{
    color:#fff
}
.topoAplicacao .navbar-toggle.linkInfo.active,.topoAplicacao .navbar-toggle.linkInfo:focus,.topoAplicacao .navbar-toggle.linkInfo:hover{
    background-color:#426a34
}
.topoAplicacao .suporteGlobal .funcoesGlobais>li>a:focus,.topoAplicacao .suporteGlobal .funcoesGlobais>li>a:hover{
    color:#fff;
    background-color:#26451b;
    background:#26451b
}
.topoAplicacao .suporteGlobal .funcoesGlobais>li{
    background-color:#33591e;
    border-bottom:1px solid #274418
}
.funcoesGlobais .dropdown-menu>li{
    border-bottom:1px solid #1c3f0f;
    background:#26451b
}
.funcoesGlobais .dropdown-menu>li>a:hover{
    background-color:#3c5832
}
@media (min-width:768px){
    .topoAplicacao .suporteGlobal .funcoesGlobais>li{
        background-color:rgba(51,89,30,.43);
        border-bottom:none
    }
    .funcoesGlobais .dropdown-menu>li{
        border-bottom:none;
        background:0 0
    }
    .funcoesGlobais .dropdown-menu>li>a:hover{
        background-color:#f5f5f5
    }
}
#menu-lateral .system-nav a,#menu-lateral .system-nav a:hover{
    color:#3775b3
}
#menu-lateral .system-nav a:focus,#menu-lateral .system-nav a:hover,#menu-lateral .system-nav li.active>a:focus,#menu-lateral .system-nav li.active>a:hover,#menu-lateral .system-nav li.open>a:focus,#menu-lateral .system-nav li.open>a:hover{
    background-color:#dce6f5;
    border-left:5px solid #b6cbec;
    padding-left:10px
}
#menu-lateral .system-nav a:active,#menu-lateral .system-nav li.open>a:active{
    background-color:#a0bae2
}
#menu-lateral .system-nav li.active>a{
    background-color:#b6cbec
}
#menu-lateral .system-nav a:hover span,#menu-lateral .system-nav li.open>a:hover span{
    color:#333
}
#menu-lateral .controles-navgoco #btn-collapse:hover span,#menu-lateral .controles-navgoco #btn-expander:hover span{
    color:#537e42
}
.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{
    border-bottom:2px solid #598b4f
}
.table>tbody>tr.selected.active:nth-child(2n)>th,.table>tbody>tr.selected.active:nth-child(2n+1)>td,.table>tbody>tr.selected.active:nth-child(2n+1)>th,.table>tbody>tr.selected.active>td,.table>tbody>tr.selected.active>th,.table>tbody>tr.selected:nth-child(2n)>td,.table>tbody>tr.selected:nth-child(2n+1)>td,.table>tbody>tr.selected:nth-child(2n+1)>th,.table>tbody>tr.selected>td,.table>tbody>tr.selected>th{
    background-color:#b6cbec;
    color:#333
}
.table>tbody>tr.selected.active:nth-child(2n)>th a:not(.btn),.table>tbody>tr.selected.active:nth-child(2n+1)>td a:not(.btn),.table>tbody>tr.selected.active:nth-child(2n+1)>th a:not(.btn),.table>tbody>tr.selected.active>td a:not(.btn),.table>tbody>tr.selected.active>th a:not(.btn),.table>tbody>tr.selected:nth-child(2n)>td a:not(.btn),.table>tbody>tr.selected:nth-child(2n+1)>td a:not(.btn),.table>tbody>tr.selected:nth-child(2n+1)>th a:not(.btn),.table>tbody>tr.selected>td a:not(.btn),.table>tbody>tr.selected>th a:not(.btn){
    color:#3775b3;
    text-decoration:underline
}
.table>tbody>tr.selected.active:hover:nth-child(2n)>th .table td.highlight,.table>tbody>tr.selected.active:hover:nth-child(2n+1)>td,.table>tbody>tr.selected.active:hover:nth-child(2n+1)>th,.table>tbody>tr.selected.active:hover>td,.table>tbody>tr.selected.active:hover>th,.table>tbody>tr.selected:hover:nth-child(2n)>td,.table>tbody>tr.selected:hover:nth-child(2n+1)>td,.table>tbody>tr.selected:hover:nth-child(2n+1)>th,.table>tbody>tr.selected:hover>td,.table>tbody>tr.selected:hover>th{
    background-color:#dce6f5
}
.page-header h1{
    color:#537e42
}
.entity-info .entity-title{
    color:#537e42
}
@media(min-width:992px){
    .entity-info-body{
        border-left:1px solid #537e42
    }
}
.bg-primary,.bg-primary-on-hover:hover{
    background-color:#598b4f
}
.fg-primary{
    color:#3775b3
}
.btn-danger,.btn-default,.btn-info,.btn-link,.btn-primary,.btn-success,.btn-warning,button,input[type=submit]{
    color:#fff;
    background-color:#517f48;
    border-color:rgba(0,0,0,0);
    border-bottom:2px solid #385d30
}
.btn-secondary,button[type=reset],input[type=reset]{
    color:#325a2a;
    background-color:#d8e6d5;
    border-color:rgba(0,0,0,0);
    border-bottom:2px solid #96af91
}
.btn-secondary:hover,button[type=reset]:hover,input[type=reset]:hover{
    color:#325a2a;
    background-color:#b3d0ad;
    border-bottom:2px solid #789672
}
.btn-danger:focus,.btn-danger:hover,.btn-danger:hover:focus,.btn-default:focus,.btn-default:hover,.btn-default:hover:focus,.btn-info:focus,.btn-info:hover,.btn-info:hover:focus,.btn-link:focus,.btn-link:hover,.btn-link:hover:focus,.btn-primary:focus,.btn-primary:hover,.btn-primary:hover:focus,.btn-success:focus,.btn-success:hover,.btn-success:hover:focus,.btn-warning:focus,.btn-warning:hover,.btn-warning:hover:focus,.open>.dropdown-toggle.btn-danger,.open>.dropdown-toggle.btn-default,.open>.dropdown-toggle.btn-info,.open>.dropdown-toggle.btn-link,.open>.dropdown-toggle.btn-primary,.open>.dropdown-toggle.btn-success,.open>.dropdown-toggle.btn-warning,button:focus,button:hover,input[type=submit]:hover{
    color:#fff;
    background-color:#456b3d;
    border-color:rgba(0,0,0,0);
    border-bottom:2px solid #000
}
.btn-danger.active,.btn-danger:active,.btn-default.active,.btn-default:active,.btn-info.active,.btn-info:active,.btn-link.active,.btn-link:active,.btn-primary.active,.btn-primary:active,.btn-success.active,.btn-success:active,.btn-warning.active,.btn-warning:active,.open>.dropdown-toggle.btn-danger:focus,.open>.dropdown-toggle.btn-danger:hover,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover,.open>.dropdown-toggle.btn-info:focus,.open>.dropdown-toggle.btn-info:hover,.open>.dropdown-toggle.btn-link:focus,.open>.dropdown-toggle.btn-link:hover,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover,.open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover,.open>.dropdown-toggle.btn-warning:focus,.open>.dropdown-toggle.btn-warning:hover,button:active,input[type=submit]:active,input[type=submit]:focus{
    color:#fff;
    background-color:#2e4c28
}
.btn-secondary:active,.btn-secondary:focus{
    color:#1a3514;
    background-color:#8baf84;
    border-bottom:2px solid #4c6547
}
.form-control:focus,.ms-options-wrap>button:focus,input[type=checkbox]:focus,input[type=radio]:focus,table thead th:focus{
    border-color:#4f7b3e;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(29,147,123,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(29,147,123,.6);
    outline:0
}
.btn-primary.active:hover,.btn-primary:active:hover,input[type=submit]:active:hover{
    background-color:#314b2c;
    border-color:#000
}
.dataTable .active{
    color:#242b33;
    background-color:#f5f5f5;
    outline:2px solid #4f7b3e
}
.barra-de-acoes .dropdown-menu>li>a{
    background-color:#26451b;
    color:#fff;
    border-bottom:1px solid #1c3f0f
}
.barra-de-acoes .btn-secondary+.dropdown-menu>li>a{
    background-color:#b3d0ad;
    color:#325a2a;
    border-bottom:1px solid #789672
}
.table.dataTable tbody tr.selected .acoes a{
    color:#fff
}
.barra-de-acoes .btn-secondary+.dropdown-menu>li>a:hover,.btn-secondary+.dropdown-menu>.active>a,.btn-secondary+.dropdown-menu>.active>a:focus,.btn-secondary+.dropdown-menu>.active>a:hover{
    background-color:#97b591
}
.barra-de-acoes .dropdown-menu>li>a:hover,.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover{
    background-color:#3c5832
}
.barra-de-acoes.open .dropdown-toggle,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover{
    background-color:#2e4c28
}
.barra-de-acoes.open>.dropdown-toggle.btn-default.focus,.barra-de-acoes.open>.dropdown-toggle.btn-default:focus,.barra-de-acoes.open>.dropdown-toggle.btn-default:hover{
    color:#fff
}
.barra-de-acoes.open .btn-secondary.dropdown-toggle,.open>.dropdown-toggle.btn-secondary:focus,.open>.dropdown-toggle.btn-secondary:hover{
    background-color:#b3d0ad;
    border-bottom:2px solid #789672;
    color:#325a2a
}
.barra-de-acoes .btn-secondary:active,.barra-de-acoes .btn-secondary:focus{
    color:#325a2a
}
.date-picker-button-active,.date-picker-control:active,.date-picker-control:focus,.date-picker-control:hover{
    background-color:#4f7b3e;
    color:#fff
}
.date-picker .date-picker-today{
    outline:1px solid #4f7b3e
}
.date-picker .month-display,.date-picker .year-display{
    color:#4f7b3e
}
.date-picker .date-picker-hover,.date-picker .month-out.date-picker-hover{
    color:#fff;
    background:#4f7b3e
}
.date-picker .next-but:hover,.date-picker .prev-but:hover,.date-picker .today-but:hover{
    color:#4f7b3e
}
.pagination>li>a,.pagination>li>span{
    color:#4f7b3e;
    margin:0 2px
}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{
    color:#3f6332;
    background-color:#eee;
    border-color:#ddd
}
.pagination>.active>a,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:hover{
    background-color:#ddd;
    border-color:#ddd;
    color:#333
}
.pagination>.active>a:focus,.pagination>.active>span:focus{
    background-color:#3f6332;
    border-color:#3f6332
}
.pagination>li:first-child>a,.pagination>li:first-child>span{
    border:none;
    background-color:transparent
}
.pagination>li:last-child>a,.pagination>li:last-child>span{
    border:none;
    background-color:transparent
}
#page-content-wrapper .pagination .active a:hover,#page-content-wrapper .pagination .disabled a:hover{
    text-decoration:none
}
#page-content-wrapper .pagination a:hover{
    text-decoration:underline
}
.list-group-item.active,.list-group-item.active:focus,.list-group-item.active:hover{
    color:#242b33;
    background-color:#f5f5f5;
    border-color:#4f7b3e
}
a.list-group-item{
    color:#3775b3
}
a.list-group-item:hover{
    text-decoration:underline
}
a.list-group-item:active{
    color:#3775b3
}
.accordionContainer .accordionBlock .accordionTitle{
    background-color:#f3f3ef;
    border-bottom:1px solid #c8c8c8;
    color:#333
}
.accordionContainer .accordionBlock .accordionTitle:focus,.accordionContainer .accordionBlock .accordionTitle:hover{
    background-color:#e7ece5
}
.accordionContainer .accordionBlock.active>.accordionTitle{
    background:#d4dfcf
}
.modal-header{
    background-color:#eaeaea;
    border-bottom:2px solid #598b4f
}
.modal-header .modal-title{
    color:#598b4f
}

#page-content-wrapper{
    padding-top:0;
    padding-bottom:10px;
    padding-left:0;
    -webkit-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
    margin-bottom:30px
}

.rodape{
	position:absolute;
  	bottom:0;
  	left: 0;
    z-index:auto;
    min-height:32px;
    box-sizing:border-box;
    padding:5px;
    width:100%;
    overflow:hidden;
    bottom:0
}

@media(max-width:480px){
    .rodape .esq .divisor,.rodape .esq .nomeSetor{
        display:none
    }
}



@media(min-width:768px){
    .rodape{
        position:fixed;
        z-index:1000
    }
}
.rodape .dir{
	float:right;
    font-size:.9em;
    line-height:2.6em;
    padding-right:45px;
    margin-right:10px;
    text-align:right;
	background:url(../images/logo_ditec.png) no-repeat center right
}
.rodape .dir .span{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0
}

.funcoesGlobais>li{
    overflow:hidden
}
@media (max-width:767px){
    .topoAplicacao .suporteGlobal{
        order:2;
        margin-left:auto
    }
}
.topoAplicacao .suporteGlobal .funcoesGlobais>li{
    float:none;
    padding:0;
    margin-right:inherit;
    list-style:none;
    display:block
}
.topoAplicacao .suporteGlobal .funcoesGlobais>li>.semLink,.topoAplicacao .suporteGlobal .funcoesGlobais>li>a{
    padding:14px 15px 14px 10px;
    display:block
}
@media (min-width:768px){
    .funcoesGlobais>li{
        overflow:visible
    }
    .topoAplicacao .suporteGlobal .funcoesGlobais>li{
        margin-right:3px;
        float:left
    }
    .topoAplicacao .suporteGlobal .funcoesGlobais>li .semLink,.topoAplicacao .suporteGlobal .funcoesGlobais>li>a{
        padding:6px 10px
    }
}
.topoAplicacao .suporteGlobal .funcoesGlobais .glyphicon{
    display:none
}
@media (min-width:768px){
    .topoAplicacao .suporteGlobal .funcoesGlobais .glyphicon{
        display:inline-block
    }
}
.topoAplicacao .suporteGlobal .funcoesGlobais .menuNotificacao .menu{
    top:40px
}
.menuSuporte .dropdown-menu>li>a{
    white-space:inherit
}
.menuNotificacoes .dropdown-menu{
    width:300px
}
.menuNotificacoes .dropdown-menu>li>a{
    white-space:inherit;
    line-height:1.1
}
.menuNotificacoes.open ul.dropdown-menu{
    counter-reset:myIndex
}
.menuNotificacoes.open ul li>a{
    padding:15px 10px
}
.topoAplicacao .suporteGlobal .funcoesGlobais{
    top:50px;
    width:100%;
    right:inherit;
    text-align:left;
    margin:0;
    border:none;
    float:right;
    padding:0;
    position:absolute;
    z-index:10
}
@media (min-width:768px){
    .topoAplicacao .suporteGlobal .funcoesGlobais{
        margin:5px 0 0 0;
        right:0;
        position:absolute;
        top:inherit;
        z-index:10;
        width:inherit
    }
}
@media (max-width:767px){
    .topoAplicacao .suporteGlobal .funcoesGlobais{
        left:0
    }
}
#cabecalho .usuario a{
    color:inherit;
    text-decoration:underline
}
.topoAplicacao .dropdown.temas .active:before{
    content:"\e013";
    font-family:'Glyphicons Halflings';
    font-size:.64em;
    margin-right:.3em;
    margin-top:.5em
}
.funcoesGlobais .usuario.semLink{
    text-align:right;
    opacity:.5;
    font-size:.8em
}
@media (min-width:768px){
    .funcoesGlobais .usuario.semLink{
        font-size:inherit
    }
}
.funcoesGlobais .usuario.semLink .glyphicon.glyphicon-user{
    display:inline-block
}
.topoAplicacao .dropdown.temas .dropdown-menu li a{
    padding-left:22px
}
.funcoesGlobais a.dropdown-toggle:before{
    content:"\e252";
    font-family:'Glyphicons Halflings';
    font-size:.5em;
    margin-left:.8em;
    float:right
}
.funcoesGlobais .open a.dropdown-toggle:before{
    content:"\e253"
}
@media (min-width:768px){
    .funcoesGlobais a.dropdown-toggle:before{
        display:none
    }
}
@media (max-width:767px){
    .funcoesGlobais .dropdown-menu{
        width:100%;
        border-radius:0;
        border:none;
        margin:0;
        padding:0;
        position:relative;
        -webkit-box-shadow:none;
        box-shadow:none
    }
    .funcoesGlobais .dropdown-menu>li>a{
        padding:10px 12px;
        border-bottom:none
    }
}
.topoAplicacao .dropdown.temas .dropdown-menu li a.active{
    padding-left:10px
}
.container-notificacao{
    position:relative
}
.container-notificacao .badge-notificacao{
    position:absolute;
    top:2px;
    right:2px;
    color:#fff;
    border-radius:10px;
    font-size:1.15rem;
    padding:0 4px 0 4px;
    line-height:1.3;
    text-shadow:1px 1px 1px #dc5901
}
.funcoes-globais .badge-notificacao{
    text-shadow:1px 1px 1px #dc5901;
    font-size:1.15rem;
    padding:3px 5px;
    font-weight:400;
    margin-left:5px
}
.topoAplicacao .suporteGlobal .navbar-toggle .glyphicon{
    transform:rotate(45deg);
    font-size:1em
}





.rodape{
    background:#507c3f;
    background:url(../images/bg_rodape.png) no-repeat 95% center,-moz-linear-gradient(left,#507c3f 55%,#173010 100%);
    background:url(../images/bg_rodape.png) no-repeat 95% center,-webkit-gradient(linear,left top,right top,color-stop(55%,#507c3f),color-stop(100%,#173010));
    background:url(../images/bg_rodape.png) no-repeat 95% center,-webkit-linear-gradient(left,#507c3f 55%,#173010 100%);
    background:url(../images/bg_rodape.png) no-repeat 95% center,-o-linear-gradient(left,#507c3f 55%,#173010 100%);
    background:url(../images/bg_rodape.png) no-repeat 95% center,-ms-linear-gradient(left,#507c3f 55%,#173010 100%);
    background:url(../images/bg_rodape.png) no-repeat 95% center,linear-gradient(to right,#507c3f 55%,#173010 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#507c3f', endColorstr='#173010', GradientType=1 );
    color:#fff;
    border-bottom:3px solid #4f7b3e
}


.rodape .esq .versao{
    color:#a5bb9c;
	line-height:.8em;
    font-size:.8em;
    display:block
}
.seloAmbiente:after{
    border-left:6px solid #5f874f
}
.panel-compact>.panel-heading .h1,.panel-compact>.panel-heading .h2,.panel-compact>.panel-heading .h3,.panel-compact>.panel-heading .h4,.panel-compact>.panel-heading .h5,.panel-compact>.panel-heading .h6,.panel-compact>.panel-heading h1,.panel-compact>.panel-heading h2,.panel-compact>.panel-heading h3,.panel-compact>.panel-heading h4,.panel-compact>.panel-heading h5,.panel-compact>.panel-heading h6{
    color:#537e42
}
.panel.login .panel-heading{
    background-color:#eaeaea;
    border-bottom:2px solid #598b4f
}
.panel.login .panel-heading h1,.panel.login .panel-heading h2,.panel.login .panel-heading h3,.panel.login .panel-heading h4,.panel.login .panel-heading h5,.panel.login .panel-heading h6{
    color:#598b4f
}
.autocomplete .ui-state-focus{
    color:#fff;
    background-color:#4f7b3e
}
.ms-options-wrap>.ms-options>ul label.focused,.ms-options-wrap>.ms-options>ul label:hover,.ms-options-wrap>.ms-options>ul li.selected label.focused,.ms-options-wrap>.ms-options>ul li.selected label:hover{
    background-color:#dce6f5
}
.ms-options-wrap>.ms-options>ul li.selected label{
    background-color:#b6cbec
}

.identAplicacao .sigla+.nome,.nomeAplicacao .projeto+.area{
    border-color:#d6dc48
}



@media(min-width:768px){
    .menuGlobalReduzido .identAplicacao .sigla,.menuGlobalReduzido .nomeAplicacao .projeto{
        background:#507c3f;
        background:-moz-linear-gradient(left,#173010 0,#507c3f 45%);
        background:-webkit-gradient(linear,left top,right top,color-stop(0,#173010),color-stop(45%,#507c3f));
        background:-webkit-linear-gradient(left,#173010 0,#507c3f 45%);
        background:-o-linear-gradient(left,#173010 0,#507c3f 45%);
        background:-ms-linear-gradient(left,#173010 0,#507c3f 45%);
        background:linear-gradient(to right,#173010 0,#507c3f 45%);
        filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#173010', endColorstr='#507c3f', GradientType=1 )
    }
    .menuGlobalReduzido #pic-menu-global-fake{
        background-color:#33591e
    }
    .menuGlobalReduzido #pic-menu-global .navbar-default{
        text-transform:uppercase
    }
}

* SELOS AMBIENTES */
.seloAmbiente {
	height:0;
	position:inherit;
	right:0;
	top:auto;
	padding:0;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	text-transform:capitalize;
    background-color: #D7B13B;

}
.seloAmbiente.posFinal {
	height:30px;
	padding: 5px 5px 5px 15px;
}
/*# sourceMappingURL=maps/tema_camaranet.css.map */


.dropbtn {
    background-color:rgba(51,89,30,.43);
    border-bottom:none;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 111px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
 