body{
    background-color:#f9f9f9
}
kbd{
    background-color:#f7f7f7;
    border:1px solid #ababab;
    color:#333;
    box-shadow:1px 0 1px 0 #eee,0 2px 0 2px #ccc,0 2px 0 3px #6f6f6f
}
.identAplicacao .sigla,.nomeAplicacao .projeto{
    color:#fff
}
.identAplicacao .sigla+.nome,.nomeAplicacao .projeto+.area{
    border-color:#242b33
}
.identAplicacao .nome,.nomeAplicacao .area{
    color:#fff
}
#pic-menu-global .navbar-default{
    background:#1e242b
}
.navbar-default .navbar-toggle{
    border-color:#333
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
    background-color:#5e5e5e
}
.navbar-default .navbar-toggle:focus .icon-bar,.navbar-default .navbar-toggle:hover .icon-bar{
    background-color:#1e242b
}
.topoAplicacao .navbar-toggle.menuPrimario.active,.topoAplicacao .navbar-toggle.menuPrimario:focus,.topoAplicacao .navbar-toggle.menuPrimario:hover{
    background-color:#4c4f52
}
#pic-menu-global #menubar{
    border-color:#333
}
#pic-menu-global .navbar .navbar-nav>li>a{
    color:#fff
}
#pic-menu-global a:active,#pic-menu-global a:focus{
    outline:0
}
.topoAplicacao .suporteGlobal .funcoesGlobais{
    color:#fff
}
.topoAplicacao .suporteGlobal .funcoesGlobais>li{
    background-color:rgba(30,36,43,.7)
}
.topoAplicacao .suporteGlobal .funcoesGlobais>li>a{
    color:#fff
}
.topoAplicacao .suporteGlobal .funcoesGlobais>li>a:hover{
    background-color:rgba(58,65,63,.9)
}
.topoAplicacao .suporteGlobal .funcoesGlobais .glyphicon{
    color:#71767a
}
.menuSuporte.open ul li a{
    border-bottom:1px solid #f2f2f2
}
.topoAplicacao .navbar-toggle.linkInfo.active,.topoAplicacao .navbar-toggle.linkInfo:focus,.topoAplicacao .navbar-toggle.linkInfo:hover{
    background-color:#4c4f52
}
.topoAplicacao .suporteGlobal .funcoesGlobais>li>a:focus .glyphicon,.topoAplicacao .suporteGlobal .funcoesGlobais>li>a:hover .glyphicon{
    color:#fff
}
.breadcrumb{
    background-color:#eaeaea
}
#pic-menu-local{
    background-color:#fff;
    border-right:1px solid #e4e4e4
}
#menu-lateral .system-nav{
    background-color:#fff
}
#menu-lateral .system-nav>li{
    border-bottom:1px solid #f2f2f2
}
#menu-lateral .system-nav a{
    color:#333
}
#menu-lateral .system-nav a:hover{
    color:#fff
}
#menu-lateral .system-nav li.active.open>a,#menu-lateral .system-nav li.open>a{
    background-color:#ddd
}
.system-nav li>a>span{
    color:#333
}
#menu-lateral .system-nav li ul{
    background-color:#f2f2f2
}
#menu-lateral .system-nav>li li{
    border-bottom:1px solid #e6e6e6
}
#menu-lateral .controles-navgoco #btn-collapse a,#menu-lateral .controles-navgoco #btn-expander a{
    background:#242b33;
    color:#fff
}
#pic-menu-local{
    outline:0
}
#page-content-wrapper>.container-fluid{
    background-color:#f9f9f9
}
.entity-info{
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}
.table-striped>tbody>tr:nth-child(2n+1)>td,.table-striped>tbody>tr:nth-child(2n+1)>th{
    background-color:#f2f2f2
}
.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th,.table.dataTable tbody tr.active:hover td,.table.dataTable tbody tr.active:hover th,td.highlight{
    background-color:#e9e7e7
}
.topoComentario{
    border-bottom:1px solid #e3e3e3
}
.data{
    color:#bebebe
}
form fieldset{
    border:1px solid #ccc
}
form fieldset legend{
    color:#666
}
.close:focus,.close:hover{
    background-color:#cfcdcd
}
.panel-heading .btn{
    background-color:#d3d3d3;
    color:#3a3a3a;
    border-color:#a9a9a9 #a9a9a9 #a6a6a6;
    border-bottom:2px solid #a6a6a6
}
.panel-heading .btn:hover{
    background-color:#c7c5c5
}
fieldset.errorField,input.errorField,select.errorField,textarea.errorField{
    border:1px solid #900
}
.btn-primary.disabled,.btn-primary.disabled.active,.btn-primary.disabled.focus,.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled].active,.btn-primary[disabled].focus,.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,.btn-secondary.disabled,.btn-secondary.disabled.active,.btn-secondary.disabled.focus,.btn-secondary.disabled:active,.btn-secondary.disabled:focus,.btn-secondary.disabled:hover,.btn-secondary[disabled],.btn-secondary[disabled].active,.btn-secondary[disabled].focus,.btn-secondary[disabled]:active,.btn-secondary[disabled]:focus,.btn-secondary[disabled]:hover,.btn.disabled,.btn[disabled],button[type=submit].disabled,button[type=submit].disabled:active,button[type=submit].disabled:focus,button[type=submit].disabled:hover,button[type=submit][disabled],button[type=submit][disabled]:active,button[type=submit][disabled]:focus,button[type=submit][disabled]:hover,fieldset.disabled .btn,fieldset.disabled button,fieldset.disabled input[type=button],fieldset.disabled input[type=submit],fieldset[disabled] .btn,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary.active,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover,fieldset[disabled] button,fieldset[disabled] input[type=button],fieldset[disabled] input[type=submit],input[type=button].disabled,input[type=button].disabled:active,input[type=button].disabled:focus,input[type=button].disabled:hover,input[type=button][disabled],input[type=button][disabled]:active,input[type=button][disabled]:focus,input[type=button][disabled]:hover,input[type=submit].disabled,input[type=submit].disabled:active,input[type=submit].disabled:focus,input[type=submit].disabled:hover,input[type=submit][disabled],input[type=submit][disabled]:active,input[type=submit][disabled]:focus,input[type=submit][disabled]:hover{
    border-color:#ccc;
    color:#9e9e9e;
    background-color:#e0e0e0
}
.btn-danger.active,.btn-danger:active,.btn-danger:active:focus,.btn-danger:focus,.btn-default.active,.btn-default:active,.btn-default:active:focus,.btn-default:focus,.btn-info.active,.btn-info:active,.btn-info:active:focus,.btn-info:focus,.btn-link.active,.btn-link:active,.btn-link:active:focus,.btn-link:focus,.btn-primary.active,.btn-primary:active,.btn-primary:active:focus,.btn-primary:focus,.btn-success.active,.btn-success:active,.btn-success:active:focus,.btn-success:focus,.btn-warning.active,.btn-warning:active,.btn-warning:active:focus,.btn-warning:focus,.form-control:focus,button:active,button:focus,table thead th:focus{
    outline:0!important
}
h2.errorSummaryHeading{
    background-color:#f2dede;
    border:1px solid #ebccd1;
    color:#a94442
}
ul.errorSummaryList{
    background-color:#fff;
    border-color:#ebccd1
}
ul.errorSummaryList a,ul.errorSummaryList a:focus,ul.errorSummaryList a:hover{
    color:#a94442
}
.dataTable .acoes .btn-group{
    background:#fff
}
.barra-de-acoes .btn:active,.barra-de-acoes .btn:focus{
    color:#fff
}
.tempMessage{
    background-color:transparent
}
.tempMessage div{
    background-color:#f9eeba;
    box-shadow:0 10px 12px rgba(0,0,0,.5)
}
.date-picker-control:link,.date-picker-control:visited{
    background-color:#eaeaea;
    border:1px solid #ccc
}
.date-picker .date-picker-highlight{
    color:#cfcfcf
}
.date-picker-dateval:link,.date-picker-dateval:visited{
    color:#333
}
.date-picker-button-active span{
    color:#333
}
.date-picker .date-picker-selected-date{
    background-color:rgba(0,0,0,0);
    color:#333;
    outline:1px solid #ff6b00
}
.date-picker-focus table{
    border-color:#ccc;
    -webkit-box-shadow:0 0 15px #aaa;
    -moz-box-shadow:0 0 15px #aaa;
    box-shadow:0 0 15px #aaa
}
.badge-notificacao{
    background-color:#f60
}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{
    color:#333;
    background-color:#eaeaea
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{
    background-color:#fff
}
.tab-content{
    background-color:#fff;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd
}
.panel-default,.panel-primary,.panel.login{
    border-color:#eaeaea
}
.panel-default>.panel-heading,.panel-primary>.panel-heading{
    color:#242b33;
    background-color:#eaeaea;
    border-color:#eaeaea
}
.panel-footer{
    background-color:#eaeaea;
    border-top:1px solid #eaeaea
}
.login .panel-footer{
    background-color:#f6f6f6;
    border-top:transparent
}
.panel-compact{
    background-color:transparent
}
.panel-compact>*,.panel-compact>.table-bordered{
    border-color:#eaeaea;
    background-color:#fff
}
.panel.panel-compact>:last-child{
    border-bottom:1px solid #eaeaea
}
.panel-compact .panel-body{
    padding:.6em 1em
}
.accordionContainer{
    border:1px solid #c8c8c8
}
.accordionContainer .accordionBlock .accordionTitle{
    background-color:#eaeaea;
    border-bottom:1px solid #c8c8c8;
    color:#333
}
.accordionContainer .accordionBlock .accordionTitle:focus,.accordionContainer .accordionBlock .accordionTitle:hover{
    background-color:#dfdfdf
}
.accordionContainer .accordionBlock .accordionContent{
    background-color:#fff
}
.prompt .modal-header{
    background-color:#eaeaea;
    border-bottom:1px solid #e5e5e5
}
.prompt .modal-header .modal-title{
    color:#777
}
.modal-body .mascara{
    background-color:#000
}
.modal-body .msgConfModal{
    color:#fff
}
.rodape .dir{
    background:url(../images/logo_ditec.png) no-repeat center right
}
.rodape .esq .versao{
    color:#6f7780
}
.seloAmbiente,.seloAmbienteLogin{
    color:#fff
}
.seloAmbiente:after{
    border-left:6px solid #394047;
    border-top:15px solid rgba(0,0,0,0);
    border-bottom:15px solid rgba(0,0,0,0)
}
.seloAmbiente,.seloAmbienteLogin{
    background-color:#ababab
}
body.ambiente-desenvolvimento .seloAmbiente,body.ambiente-desenvolvimento .seloAmbienteLogin{
    background-color:#b83636
}
body.ambiente-homologacao .seloAmbiente,body.ambiente-homologacao .seloAmbienteLogin{
    background-color:#e49553
}
body.ambiente-teste .seloAmbiente,body.ambiente-teste .seloAmbienteLogin{
    background-color:#d7b13b
}
body.ambiente-producao .seloAmbiente,body.ambiente-producao .seloAmbienteLogin{
    display:none;
    visibility:hidden
}
body.ambiente-prototipacao .seloAmbiente,body.ambiente-prototipacao .seloAmbienteLogin,body.ambiente-prototipo .seloAmbiente,body.ambiente-prototipo .seloAmbienteLogin{
    background-color:#305ea0
}
.seloAmbiente.invalido,.seloAmbienteLogin.invalido{
    background-color:#ababab!important
}
.panel.login{
    box-shadow:0 2px 10px 0 rgba(0,0,0,.16)
}
.alertBox.erro .modal-header:before{
    color:#cf5a5a
}
.alertBox.erro .modal-header{
    border-bottom:2px solid #cf5a5a
}
.alertBox.advertencia .modal-header:before{
    color:#bb8f43
}
.alertBox.advertencia .modal-header{
    border-bottom:2px solid #bb8f43
}
.alertBox.info .modal-header:before{
    color:#408cb2
}
.alertBox.info .modal-header{
    border-bottom:2px solid #408cb2
}
.alertBox.sucesso .modal-header:before{
    color:#54ae56
}
.alertBox.sucesso .modal-header{
    border-bottom:2px solid #54ae56
}
.alert.alert-danger>.glyphicon{
    color:#d19998
}
.alert.alert-warning>.glyphicon{
    color:#cdbf9e
}
.alert.alert-info>.glyphicon{
    color:#75a2b9
}
.alert.alert-success>.glyphicon{
    color:#8db38a
}
.loaderPic{
    background-color:rgba(0,0,0,0)
}
.spinPeq{
    border:5px solid #ddd;
    border-top:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0)
}
.spinMed{
    border:10px solid #ddd;
    border-top:10px solid rgba(0,0,0,0);
    border-left:10px solid rgba(0,0,0,0)
}
.spinGrd{
    border:20px solid #ddd;
    border-top:20px solid rgba(0,0,0,0);
    border-left:20px solid rgba(0,0,0,0)
}
.invert .spinPeq{
    border:5px solid #000;
    border-top:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0)
}
.invert .spinMed{
    border:10px solid #000;
    border-top:10px solid rgba(0,0,0,0);
    border-left:10px solid rgba(0,0,0,0)
}
.invert .spinGrd{
    border:20px solid #000;
    border-top:20px solid rgba(0,0,0,0);
    border-left:20px solid rgba(0,0,0,0)
}
.maskLoaderPic{
    background-color:#000
}
.invert.maskLoaderPic{
    background-color:#fff
}
.owl-carousel .owl-item{
    border:1px solid #ddd;
    background-color:#fff
}
.panel-heading.collapsibleTitle:hover{
    background-color:#dfdfdf
}
.classe-objeto{
    color:#777
}
span[data-pic-tooltip][data-pic-active]{
    border-bottom:1px dashed #7bbf7b
}
.hint-mark[data-pic-tooltip][data-pic-active]:focus::before,.hint-mark[data-pic-tooltip][data-pic-active]:hover::before,label[data-pic-tooltip][data-pic-active]:focus::before,label[data-pic-tooltip][data-pic-active]:hover::before,legend[data-pic-tooltip][data-pic-active]:focus::before,legend[data-pic-tooltip][data-pic-active]:hover::before{
    background-color:transparent;
    color:#41abcc
}
span[data-pic-tooltip][data-pic-active]:hover{
    background-color:#eaeaea
}
.hint-mark[data-pic-tooltip][data-pic-active]::before,label[data-pic-tooltip][data-pic-active]::before,legend[data-pic-tooltip][data-pic-active]::before{
    color:#999
}
.field-hint[data-pic-tooltip][data-pic-active]{
    color:#999;
    background:0 0
}
.modal-body .pic-modal-footer{
    width:calc(100% + 30px);
    margin-left:-15px;
    margin-top:15px;
    padding:15px 15px 0 15px;
    text-align:right;
    border-top:1px solid #e5e5e5
}
.modal-body .pic-modal-footer .btn+.btn{
    margin-bottom:0;
    margin-left:5px
}
@media(max-width:767px){
    .topoAplicacao .suporteGlobal .funcoesGlobais>li{
        background-color:#1e242b;
        border-bottom:1px solid #181818
    }
    .funcoesGlobais .dropdown-menu>li>a{
        color:#fff
    }
    .funcoesGlobais .usuario.semLink .glyphicon.glyphicon-user{
        color:#fff
    }
    .topoAplicacao .navbar-toggle{
        border-color:#97a891
    }
    .topoAplicacao .navbar-toggle .icon-bar{
        background-color:#fff
    }
    #pic-menu-local{
        background-color:#f9f9f9;
        border-right:none
    }
    .navbar-toggle.comboMenuLateral{
        background-color:#fff;
        border:2px solid #ccc;
        color:#666
    }
    #menu-lateral .system-nav{
        background-color:#f9f9f9
    }
    #menu-lateral .system-nav>li{
        border-bottom:1px solid #e2e0e0
    }
    .navbar-toggle.comboMenuLateral.active{
        background-color:#616161;
        color:#fff;
        border-color:#616161
    }
    #menu-lateral .system-nav{
        background-color:#f9f9f9;
        border-left:2px solid #ddd;
        border-right:2px solid #ddd;
        border-bottom:4px solid #bbb
    }
    .ambienteDesenv.posFinal,.ambienteHomolog.posFinal,.ambienteTeste.posFinal{
        background-color:#fff
    }
    #pic-menu-global .navbar .navbar-nav>li>a{
        background-color:#1e242b
    }
    #pic-menu-global li.dropdown{
        border-bottom:1px solid #181818
    }
}
@media(min-width:768px){
    .menuGlobalReduzido #pic-menu-global-fake{
        background-color:#1e242b
    }
}
.filter__checkboxes{
    width:auto!important
}
/*# sourceMappingURL=maps/tema_comum.css.map */
